.wave {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg");
  height: 100%;
  width: 6400px;
}
.wave1 {
  position: absolute;
  top: 0px;
  opacity: 0.4;
}
.wave2 {
  opacity: 0.9;
  position: absolute;
  top: 0px;
}
.animation_move_x {
  animation: wave 8s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
}
.animation_move_x2 {
  animation: wave 16s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
}

@keyframes wave {
  0% {
    left: 0;
  }
  100% {
    left: -1600px;
  }
}

@keyframes swell {
  0%,
  100% {
    transform: translate3d(0, -25px, 0);
  }
  50% {
    transform: translate3d(0, 5px, 0);
  }
}
